{% extends 'plc_crud/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center">
                    {% if form.instance.pk %}
                        Editar Tag
                    {% else %}
                        Crear Nuevo Tag
                    {% endif %}
                </h2>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">
                            {% if form.instance.pk %}
                                Guardar Cambios
                            {% else %}
                                Crear Tag
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelector('select[name="empresa"]').addEventListener('change', function() {
        let empresa_id = this.value;
        let ubicacion_select = document.querySelector('select[name="ubicacion"]');
        ubicacion_select.innerHTML = '';
        
        fetch(`/obtener-sectores/${empresa_id}/`)
            .then(response => response.json())
            .then(sectores => {
                sectores.forEach(sector => {
                    let option = new Option(sector.sector + ' - ' + sector.ubicacion, sector.id);
                    ubicacion_select.add(option);
                });
            });
    });
    </script>

{% endblock %}